
/* ================= HEADER ================= */
header,
header::before,
header::after,
nav,
nav::before,
nav::after {
    border: none !important;
    box-shadow: none !important;
}

header {
    position: absolute;         
    top: -10px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;   
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    flex-shrink: 0;
}

.logo img {
    height: 78px;
    width: auto;
    transform: scale(1.2);
    transform-origin: left center;
    margin-left: -50px;
}

/* ================= MENU ================= */
.menu {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.menu li a {
    position: relative;
    text-decoration: none;
    color: #ffffff;          
    font-size: 15px;
    font-weight: 600;
    padding: 6px 0;
    border: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ffffff;
}

.menu li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;                  
    height: 1px;
    background: #ffffff;         
    transform: translateX(-50%);
    transition: width 0.2s ease;
    pointer-events: none;
}

.menu li a:hover::after {
    width: 100%;
}

/* ================= BUTTON ================= */
.header-btn {
    flex-shrink: 0;
}

.btn-primary {
    padding: 14px 26px;
    border-radius: 0px;

    background: transparent;          
    color: #ffffff;                   
    border: 1px solid #fdfdfd;         

    font-weight: 400;
    font-size: 14.5px;
    text-decoration: none;

    transition: all 0.35s ease;
}
.btn-primary:hover {
    background: #c8ae74;              
    color: #ffffff;
    border: none;
    box-shadow: 0 10px 25px rgba(200,155,60,0.35);
}