.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    animation: slowZoom 40s ease-in-out infinite;
}
@keyframes slowZoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 650px;
    padding: 60px;
    color: #fff;
}

.hero-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-desc {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn-map {
    color: white;
    background: #c8ae74;
    padding: 12px 24px;
    border-radius: 0px;
    text-decoration: none;
}
.btn-map:hover {
    background: #c8ae74;
    color:#111;
}