    /*HEADER – CONTACT PAGE*/

    .contact-page header nav {
        padding: 8px 30px;
    }
    .contact-page header {
        background: #eee2ca;
        position: sticky;
        top: 0px;
        z-index: 999;
        height: 100px;
    }
    .contact-page header nav a {
        color: #222 !important;
    }

    .contact-page header nav a:hover {
        color: #c8a24a;
    }

    .contact-page header nav a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3px;
        width: 0;                  
        height: 1px;
        background: #0e0e0e;         
        transform: translateX(-50%);
        transition: width 0.2s ease;
        pointer-events: none;
    }

    .contact-page .btn_primary {
        background: transparent;
        color: #222;
        border: 1px solid #222;
    }

    .contact-page .btn_primary:hover {
        background: #c8a24a;
        color: #fff;
        border-color: #c8a24a;
    }

    .contact-wrapper-text1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 60px 15% 60px;
    background: #d8c18ccc;
}

.contact-text1-title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-bottom: 50px;
    transform: scaleY(1.1);
}

.contact-content-text1 p {
    font-size: 16px;
    color: #3d3d3d;
    transform: translateY(-50px)
}

.contact-image-text1 {
    height: 440px;
    overflow: hidden;
    position: relative;
}

.contact-image-text1 img {
    width: 100%;
    height: auto;

    position: absolute;
    top: -200px;              
    left: 0;

    transform: scale(1.1);  
    will-change: transform;
    backface-visibility: hidden;
}
/*SECTION 2*/
.contact-wrapper-text2 {
    display: grid;
    grid-template-columns: 1.1fr 1fr;   /* trái rộng hơn */
    gap: 80px;
    align-items: center;
    min-height: 100vh;
    padding: 0 8%;
    background-color: #ffffffcc;
    width: 100%;
}
.contact-left {
    max-width: 720px;
}

.contact-left h2 {
    font-size: 36px;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    letter-spacing: -1px;
    margin-bottom: 20px;
    color: #2f2f2f;
}

.contact-left p {
    font-size: 16px;
    line-height: 1.9;
    color: #434343;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.spa-branch {
    margin-bottom: 40px;
}

.contact-right {
    width: 100%;
}

.map-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 0; 
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
/* CONTACT FORM – OU SPA */

.contact-form-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #d6b77a; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 23% 100px;
    box-sizing: border-box;
}

.contact-form-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 200;
    color: #2b1a12;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: -1px;
}

.contact-form {
    width: 100%;
    max-width: 1100px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    color: #2b1a12;
    margin-bottom: 8px;
}

.form-group label span {
    color: #b80000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 14px 16px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Playfair Display', serif;;
    background: #ffffff;
    color: #333;
    box-sizing: border-box;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #999;
}

.form-group.full {
    width: 100%;
    margin-bottom: 50px;
}

.form-group textarea {
    min-height: 200px;
    resize: none;
}

.btn-submit {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 18px 0;
    background: linear-gradient(90deg, #2b1a12, #3a2319);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background: linear-gradient(90deg, #3a2319, #2b1a12);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .form-row {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contact-form-title {
        font-size: 36px;
        margin-bottom: 40px;
    }
}







