<footer class = "footer">
    <div class="footer-content">
        <!---LEFT-->

        <div class="footer-left">
            <div class="footer_brand">
                <img src="{{url_for('static',filename ='images/logo.png')}}" alt ="logo" width ="50">
                <h3>OU Spa </h3>
            </div>
            <div class="footer_local">
                <img src="{{url_for('static',filename ='images/logo_white_house.jpg')}}" alt="logo_dia_chi" width="20">
                <span>Địa chỉ : 100 Nguyễn Gia Trí, Phường 25, Quận Bình Thạnh, TP.HCM</span>
            </div> 
            <div class="footer_phone">
                <img src="{{url_for('static',filename ='images/logo_phone.jpg')}}" alt="logo_phone" width="20">
                <span>Điện thoại: 0979614148</span>
            </div> 
            <div class="footer-payment">
                <img src="{{url_for('static',filename ='images/master_card.png')}}" alt="master_card" width="50">
                <img src="{{url_for('static',filename ='images/visa.png')}}" alt="visa" width="50">
                <img src="{{url_for('static',filename ='images/bo_y_te.jpg')}}" alt="y_te" width="50">
            </div>
        </div>
        <!---RIGHT-->
        <div class="footer-right">
            <h4>CUSTOMER SERVICE</h4>
            <div class="footer-links">
                <ul>
                    <li> 
                         <img src ="{{url_for('static',filename ='images/logo_bao_mat.jpg')}}" alt="icon_bao_mat" width="20">
                        Chính sách bảo mật
                    </li>
                    <li>
                        <img src ="{{url_for('static',filename ='images/logo_bao_hanh.jpg')}}" alt="icon_bao_hanh" width="20">
                        Chính sách bảo hành
                    </li>
                    <li>
                        <img src="{{url_for('static',filename ='images/logo_van_chuyen.jpg')}}" alt="icon_van_chuyen" width="20">
                        Chính sách vận chuyển
                    </li>
                    <li>
                        <img src="{{url_for('static', filename ='images/logo_doi_tra.jpg')}}"  alt="icon_doi_tra" width="20">
                        Chính sách đổi trả hàng
                    </li>
                </ul>   
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 OU Spa. All rights reserved.</p>
        </div>
    </div>
</footer>
