<header>
    <nav>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png')}}"
                     alt="OU Spa"
                     width="100">
            </a>
        </div>

        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Trang Chủ</a></li>
            <li><a href="{{ url_for('services') }}">Dịch Vụ</a></li>
            <li><a href="{{ url_for('about') }}">Giới Thiệu</a></li>
            <li><a href="{{ url_for('contact') }}">Liên Hệ</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
            <li>
        </ul>

        <div class="header-btn">
            <a href="{{ url_for('booking') }}" class="btn-primary">
                ĐẶT LỊCH NGAY
            </a>
        </div>
    </nav>
</header>
